@model AIMS.Models.OrganizationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { organizationId = Model.OrganizationId }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "Delete", new { organizationId = Model.OrganizationId })
    </p>
    <hr />
    <h4>Groups</h4>
    <p>
        @Html.ActionLink("Create New Group", "Create", "Group", new { organizationId = Model.OrganizationId }, null)
    </p>
    <dl class="dl-horizontal">
        @foreach (var group in Model.Groups)
        {
            <dt>
                Group
            </dt>

            <dd>
                @Html.ActionLink(@group.Name, "Edit", "Group", new { id = group.GroupId }, null)
            </dd>

            <dd>
                @Html.ActionLink("Delete", "Delete", "Group", new { id = group.GroupId}, null)
            </dd>
        }
     </dl>
</div>

