@model AIMS.Models.RegisterUserViewModel
@{
    ViewBag.Title = "Create User";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("RegisterUserByAdmin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new user.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    //Not real password. It's just default value to bypass validation. The real password is in RegisterUserByAdmin method in AccountController

    @Html.HiddenFor(m => m.Password, new { value = "Password" })
    @Html.HiddenFor(m => m.ConfirmPassword, new { value = "Password" })

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.UserType, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <h2>Login Information</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.EmailLabel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Label" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.EmailContactDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
        </div>
    </div>
    <h2>Address</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 1" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 2" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 3" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Zipcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zipcode" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country" } })
        </div>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneLabel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Label" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneContactDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
        </div>
    </div>
    <h2>Role</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("RoleId")
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>
    </div>
    <h2>For Group</h2>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("GroupId")
                @Html.ValidationMessageFor(model => model.ReferredEntityId)
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
