@model AIMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.UserType, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <h2>Login Information</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.EmailLabel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Label" } })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.EmailContactDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
        </div>
    </div>
    <h2>Address</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 1" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 2" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Address3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 3" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Zipcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zipcode" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country" } })
        </div>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneLabel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Label" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneContactDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
